# keep the packages in this order! do not delete!
numpy==1.19.5
scipy==1.5.4
pandas
matplotlib
scikit-learn
seaborn==0.10.0
numba==0.53.1
pymc
eli5
shap
cython
jupyter
statsmodels
h5py
biom-format
scikit-bio
docrep
calour
tensorflow==2.4.0
keras-tuner==1.0.2
autokeras==1.0.12
xgboost==1.3.3
lightgbm==3.1.1
optuna==2.5.0
mxnet
autogluon==0.2.0
auto-sklearn==0.12.0
scikit-optimize
emcee
pyDOE
# keep the packages in this order! do not delete!
