# keep the packages in this order! do not delete!
numpy
scipy
pandas
matplotlib
scikit-learn
seaborn==0.10.0
pymc
eli5
shap
cython
pandas
jupyter
statsmodels
h5py
biom-format
scikit-bio
docrep
calour
git+https://github.com/keras-team/keras-tuner.git@1.0.2rc4
autokeras
xgboost
lightgbm
optuna
mxnet
# the following two packages are installed later
# autogluon
# auto-sklearn
# keep the packages in this order! do not delete!



